[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
appdirs = "*"
appnope = "*"
certifi = "*"
chardet = "*"
coreapi = "*"
coreschema = "*"
coverage = "*"
decorator = "*"
dj-database-url = "*"
dj-static = "*"
django = "*"
django-cors-headers = "*"
djangorestframework = "*"
djangorestframework-jwt = "*"
factory-boy = "*"
faker = "*"
gunicorn = "*"
idna = "*"
ipdb = "*"
ipython = "*"
ipython-genutils = "*"
itypes = "*"
jinja2 = "*"
markdown = "*"
markupsafe = "*"
pexpect = "*"
pickleshare = "*"
prompt-toolkit = "*"
psycopg2 = "*"
ptyprocess = "*"
pygments = "*"
pyjwt = "*"
pyparsing = "*"
python-dateutil = "*"
pytz = "*"
requests = "*"
simplegeneric = "*"
six = "*"
sqlparse = "*"
static3 = "*"
text-unidecode = "*"
traitlets = "*"
uritemplate = "*"
urllib3 = "*"
wcwidth = "*"

[requires]
python_version = "3.7"
